.contact_container{
    width:58%;
    display: grid;
    grid-template-columns: auto auto;
    gap:4rem;
}

.contact_options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact_option{
    background: var(--color-bg-varient);
    padding: 1rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact_option:hover{
    background: transparent;
    border-color:var(--color-primary-varient) ;
} 

.contact_option-icon{
    font-size:1.5rem;
    margin-bottom: 0.5rem;
}

.contact_option a{
    margin-top: 0.7rem;
    font-size: 0.8rem;
    display: inline-block ;
}


form{
    display: flex;
    flex-direction: column;
    gap:1.2rem;
}
input, textarea{
    width:100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-varient);
    color: var(--color-white);
    resize: none;
}

/* MEDIA QUERY FOR MEDIUM DEVICE */

@media screen and (max-width: 1024px){
    
    .contact_container{
        grid-template-columns: 1fr;
        gap:2rem;
    }
   
  }
  
  /* MEDIA QUERY CSS FOR SMALL DEVICE */
  @media screen and (max-width: 600px){
      .contact_container{
        grid-template-columns: 1fr;
        width:var(--container-width-sm);
      }

  }